@font-face {
  font-family: "MODERNA";
  src: url("MODERNA_.TTF");
}

body,
div,
button,
input {
  font-family: MODERNA;
  color: #175992;
  padding: 0;
  margin: 0;
  font-size: 2vh;
}
header {
  background-color: #feda72;
  padding: 4vh;
  font-size: 5vh;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  align-items: center;
}
input {
  padding: 2vh;
  width: 80%;
  height: 15vh;
  align-items: center;
  text-align: center;
}
button {
  padding: 1vh;
  width: 20vh;
  background-color: #feda72;
  border: none;
  border-radius: 1vh;
  transition: box-shadow 0.2s ease-in-out;
  margin: 2vh;
}
button:hover {
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:active {
  background-color: yellow;
}

div {
  padding: 2vh;
  border: 2px solid;
  width: 80%;
  height: 15vh;
  text-align: center;
}
.minion {
  margin-top: 2vh;
  height: 20vh;
  opacity: 0;
  animation: minionsrise 1s ease-in-out 1s 1 forwards;
}
@keyframes minionsrise {
  from {
    transform: scale(0) translateY(-250px);

    opacity: 0;
  }

  to {
    transform: scale(100%) translateY(0);

    opacity: 1;
  }
}
footer {
  background-color: #feda72;
  padding: 2vh;
  word-wrap: none;
  font-size: 3vh;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
@media screen and (max-width: 700px) {
  header,
  footer {
    font-size: 20px;
  }
  div,
  input {
    height: 10vh;
  }
}
